<%- include layout/header.ejs %>

<div class="container-fluid px-3 py-0">

    <div class="bd-default">

        <div class="d-flex flex-wrap flex-row bd-highlight justify-content-start mb-3">

            <% for (let i = 0; i <= 2; i++) { %> 
            <div class="p-2 bd-highlight">
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">
                      Erro!
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title">
                        Não foi possível encontrar a cotação para esse ativo.
                      </h5>
                      <p class="card-text">            
                        testando layout pra ver
                      </p>
                    </div>
                </div>
            </div>
            <% } %> 

        </div>

    </div>
</div>

<%- include layout/footer.ejs %>
