<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
.bd-default {
    height: 150px;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
        margin-right: -15px;
        margin-left: -15px;
    border: solid  #f8f9fa;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: .2rem 0 0;
}
.bd-highlight {
    background-color: 
rgba(86,61,124,.15);
border: 1px solid
    rgba(86,61,124,.15);
}
    </style>
  </head>
  <body>